<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <connectionStrings>
    <add name="Images" connectionString="Data Source=10.28.220.66;Initial Catalog=Images;Persist Security Info=True;User ID=fp_web;Password=fpweb@ndb201#"/>
  </connectionStrings>
</configuration>
