<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ProductImageDB" connectionString="Data Source=CHIANGSERVER\SQLSERVER2008;Initial Catalog=TEST_FOCALPRICE_DB;User Id=sa;Password=chiang;"/>
  </connectionStrings>
  <appSettings>
    <add key="sourceDirectory" value="E:\demo"/>
    <add key="targetDirectory" value="D:\target"/>    
  </appSettings>
</configuration>